yPORT=3000
TZ=Asia/Kuala_Lumpur
DEFAULT_DIAL_CODE=60
DATABASE_URL='postgresql://username:password@host/database?sslmode=require'
DASHBOARD_PASSWORD=Acun97
DASHBOARD_SESSION_SECRET=replace-with-a-long-random-value
BOT_PRAYER_CITY=Kuala Lumpur
BOT_PRAYER_COUNTRY=Malaysia
BOT_PRAYER_METHOD=3
BOT_PRAYER_TIMEZONE=Asia/Kuala_Lumpur
REMOVE_BG_API_KEY=